[build-system]
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"

[project]
name = "libvec_db"
version = "0.1.0"
requires-python = ">=3.8"
dependencies = [
]

[tool.maturin]
features = ["pyo3/extension-module"]
